/*Home Page*/

/*Main Style Items*/
h1 {
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: #56a4ab;
}

h3 {
    color: #56a4ab;
    font-family: 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 1em;
    text-align: center;
}

h4 {
    font-family: 'Helvetica', sans-serif;
    font-weight: 200;
    font-size: 1em;
    color: #dc6026;
}

h6 {
    font-family: 'Helvetica', sans-serif;
    font-weight: lighter;
    font-size: .7em;
    color: #56a4ab;
}

p {
    font-family: 'Helvetica', sans-serif;
    font-weight: 100;
    font-size: .7em;
    color: white;
}

/*Logo Section*/
.name {
    padding: 10px 0 25px;
    text-align: center;
    width: 100%;
    background-color: white;
}

/*Navigation*/
nav {
    background-color: #dc6026;
    text-align: center;
    width: 100%;
    padding: 10px 0;
}

nav li {
    font-family: 'Helvetica', sans-serif;
    font-weight: 200;
    display: inline;
    margin: 0 10px;
}

nav a {
    color: white;
    text-decoration: none;
    -webkit-transition: .1s;
    -moz-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
}

nav a:visited {
    color: white;
}

nav a:hover, a:focus {
    color: rgba(255,255,255,.5);
}

nav a:active {
    color: white;
}

/*Section 1*/
.sec1 {
    padding: 20px 0;
    position: relative;
    height: 300px;
    width: 100%;
}

.welcome {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    left: 5%;
}

/*Section 2*/
.sec2 {
    background-color: #56a4ab;
    padding: 10px 0;
    line-height: 1em;
    position: relative;
    z-index: -1;
    width: 100%;
    min-height: 130px;
}

.text {
    height: 90%;
    width: 59%;
    margin-left: 5%
}
.sec2 img {
    position: absolute;
    right: 2%;
    bottom:0;
    z-index: 0;
}

.text a {
    text-decoration: none;
    font-weight: bold;
    -webkit-transition: .1s;
    -moz-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
}

.text a:visited {
    color: white;
}

.text a:hover, a:focus {
    color: rgba(255,255,255,.5);
}

.texts a:active {
    color: white;
}

/*Footer*/
footer {
    padding: 20px 0;
    position: relative;
    width: 100%;
    height: 40px;
    
}
.left {
    width: 50%;
    position: absolute;
    bottom: 10px;
    left: 5%;
}

.right ul {
    position: absolute;
    bottom: 10px;
    right: 5%;
}
.right li {
    display: inline;
    margin-left: 5px;
}

.right a {
    color: #56a4ab;
    text-decoration: none;
    -webkit-transition: .1s;
    -moz-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
}

.right a:visited {
    color: #56a4ab;
}

.right a:hover, a:focus {
    color: #56a4ab;
    opacity: .5;
}

.right a:active {
    color: #56a4ab;
}

/*Work Page*/

/*Resume Section*/
.res {
    text-align: center;
    padding: 20px 0 30px 0;
}

.res h3 {
    margin-bottom: 20px;
}

.res a {
    padding: 10px 15px;
    color: #56a4ab;
    text-decoration: none;
    border: 1.5px solid #56a4ab;
    border-radius: 10px;
    -webkit-transition: .1s;
    -moz-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
}

.res a:visited {
    color: #56a4ab;
}

.res a:hover, a:focus {
    color: #fff;
    background: #56a4ab;
    border: 0;
}

.res a:active {
    color: #56a4ab;
    border: 1.5px solid #56a4ab;
    background: transparent;
}

/*Portfolio Section*/
.port {
    background: #56a4ab;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    height: 105em;
}

.port h3 {
    color: white;
    margin-bottom: 20px;
}

.port ul {
    text-align: center;
    width: 80%;
    margin-left: 12%;
}
.images img{
    width: 30vh;
    height: 30vh;
    overflow: hidden;
    border-radius: 10px;
}

.images li {
    display: inline-block; 
    float: left;
    width: auto;
    margin: .5em;
    font-family: 'Helvetica', sans-serif;
    line-height: 1.5em;
    color: white;
}

/*Contact Page*/

/*Contact 1*/
.con1 h3 {
    margin: 20px 0; 
}

/*Contact 2*/
.con2 h3 {
    font-size: 1.5em;
    text-align: left;
    padding-left: 5%;
    margin-bottom: 10px;;
}

.con2 p{
    color: #56a4ab;
    font-size: .7em;
    line-height: 150%;
    padding-left: 5%;
    margin-bottom: 20px;
}

.con3 {
    padding: 10% 0 0 25%;
    text-align: left;
    color: #dc6026;
    height: 20vh;
}

.con3 li {
    line-height: 1.5em;
    display: block;
    width: 75%;
}

.con3 a {
    padding-left: 10px;
    color: #dc6026;
    text-decoration: none;
    -webkit-transition: .1s;
    -moz-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
}

.res a:visited {
    color: #dc6026;
}

.res a:hover, a:focus {
    color: #dc6026;
    opacity: .5;
}

.res a:active {
    color: #dc6026;
}